* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-link {
    margin: 20%;
    padding: 60px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* background-color: black; */

}

.nav-item {
    padding: 20px;
    color: black;
}

#bg-img {
    background-image: url(../images/pizza-g33107d15c_1920.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav-item a {
    color: white;
}

.bunner {
    /* width: 90%; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* padding: 30px 30px; */

}

.col-1 {
    flex-basis: 50%;
    min-width: 100%;
}

.col-1 h2 {
    font-size: 150px;
    /* line-height: 40px; */
    margin: 25px 0;
    color: #f99c3e;
}

.col-1 p {
    font-size: 25px;
    line-height: 40px;
    margin: 35px 0;
    justify-content: center;
    color: white;
}


/* services */
.small-container img {
    height: 10vh;
    text-align: center;
}

.small-container img:hover {
    color: white;
    /* background: white; */
}
/* .small-container .fa{
    font-size: 50px;
    height: 10vh;
} */
.small-container:hover{
color: white;
}

.main-container {
    display: flex;
    padding: 7% 0px;
}

.small-container {
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.services {
    background-color: #f99c3e;
}



/* add unit */
.ad{
    padding-top: 90px;
    padding-bottom: 90px;
}
#ads p{
    text-align: center;
    font-size: 26px;
    color:#f99c3e ;
}
#ads h2{
    text-align: center;
    font-size: 50px;
}
#add-body h5{
text-align: center;
}

/* .container {
    position: relative;
    width: 50%;
  } */
  
  #image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .col:hover #image {
    opacity: 0.3;
  }
  
  .col:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* Menu section css */
  .menu{
      background-color: black;
  }
  .descipt{
      text-align: center;
      padding-top: 50px;
  }
  .descipt p{
      color: #f99c3e;
      font-size: 26px;
  }
  .descipt h2{
    font-size: 50px;
    color: white;
  }
  #menu-cols{
      /* color: transparent; */
      background-color: transparent;
  }
  #menu-cols button:hover{
      background-color:#f99c3e ;
  }
